.main {
    background-color: rgb(130, 87, 35);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace;

    background-image: url("https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;



}


.header {
    height: 100%;
    background-color: rgb(26, 27, 28);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* border-bottom: 1px solid white; */
    /* position: relative; */
}

.Headerbutton {
    border-radius: 5px;
    /* border: none; */
    background-color: rgb(26, 27, 28);
    color: rgb(204, 188, 127);
    margin: 1%;
    padding: 10px;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
    border-color: #a9840b;
    width: 120px;

}

.Bodybutton {
    padding: 10px;
    margin-bottom: 3%;
    width: 200px;
    border-radius: 5px;
    /* border: none; */
    background-color: #159433;
    cursor: pointer;
    border-color: #000000;
    margin-bottom: 2%;

}

.green {
    border-radius: 500px;
    display: block;
    margin-left: 30px;
    margin-right: auto;
    background-color: rgb(11, 66, 47);
}

.footer {
    background-color: black;
    height: 75px;
    color: #a9840b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid white;
    align-items: center;
}

.contents {
    color: rgb(3, 3, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    margin: 2%;
    line-height: 2.5;
}

.endingPhrase {
    color: #6f0f08;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radiobox {
    border-radius: 500px;
    display: block;
    margin-left: 30px;
    margin-right: auto;
}


.radioboxDesc {
    display: block;

    margin-left: -350px;
    margin-right: auto;
    color: #9e9319;
}

.title {
    font-size: 40px;
    color: #14054b;
}

.innerContents {
    font-size: 18px;
}